
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: darkslategray;
}

.card {
    width: 500px;
    margin: 20px auto;
}

.info {
    border: 20px
}
.title {
    border: 8px;
    padding: 8px;
}
h1 {
    background-color: coral;
    color: black;
}

p {
    font-weight: 500;
    font-size: 20px;
    color: white;
}

h2 {
    background-color: crimson;
    color: black;
}

ul {
    list-style-position: inside;
    font-size: 18px;
    color: white;
}

ol {
    font-size: 18px;
    color: white;
}
